$base_size: 4.3%;
$theme-light-background: rgb(224, 224, 224);
$theme-dark-background: rgb(43, 43, 43);
$cap-spacing: 0.2vw;
$pressed-color: red;
$chain-pressed-color: red;
$keyboard-font-size: 1vw; //only for keyboard, also governs width of borders and shadows
$regular-font-size: 1em;
$regular-media-query: 960px;
$regular-shrink-amount: 0.8;
$cap-dark-border: (0.1 * $keyboard-font-size) solid rgb(78, 78, 78);
$cap-light-border: (0.1 * $keyboard-font-size) solid rgb(170, 170, 170);
$cap-box-shadow: 0 (0.05 * $keyboard-font-size) (0.1 * $keyboard-font-size) (0.1 * $keyboard-font-size) rgba(0,0,0,0.7);